:root {
  --blue: #3282f7;
  --green: #68d9a4;
  --red: #ed6454;
}

.dropdown_search {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  height: 69px;
  width: 170px;
  border-radius: 5px;
}

.dropdown_search input {
  background: none;
  width: 160px;
  padding: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.bg_blue {
  background: var(--blue);
}

.bg_green {
  background: var(--green);
}

.bg_red {
  background: var(--red);
}

.dropdown_search img {
  position: absolute;
  right: 10px;
  top: 30px;
}
