:root {
  --blue: #3282f7;
  --green: #68d9a4;
  --red: #ed6454;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

.dropdown_search {
  display: flex;
  position: relative;
  height: 69px;
  width: 170px;
  border-radius: 5px;

  transition: width 0.1s ease-in-out;
}

.dropdown_search input {
  background: none;
  width: 160px;
  padding: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.bg_blue {
  background: var(--blue);
}

.bg_green {
  background: var(--green);
}

.bg_red {
  background: var(--red);
}

.dropdown_search img {
  position: absolute;
  right: 10px;
  top: 30px;
  rotate: 180deg;
  transition: transform 0.1s ease-in-out;
}

.dropdown_options {
  top: 69px;
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.dropdown_options a {
  padding: 5px;
  width: 33%;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown:has(input:focus) .dropdown_options {
  display: flex;
}

.dropdown:has(input:focus) .dropdown_search img {
  transform: rotate(180deg);
}

.dropdown:has(input:focus) .dropdown_search {
  width: 400px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
