@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap');

:root {
  --blue: #3282f7;
  --green: #68d9a4;
  --red: #ed6454;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  border: none;
}

body {
  margin: 0 100px 0 100px;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}

header img {
  width: 58px;
  height: 47px;
}

header h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 36px;
  line-height: 46.87px;
  margin: 0;
  color: #d04f4f;
}

.search_box {
  position: relative;
}

.search_box input {
  margin-top: 17px;
  height: 69px;
  background: #e7e7e7;
  border-radius: 5px;
  padding: 23px 24px 24px 24px;
  width: 100%;
  font-size: 18px;
}

.search_box input::placeholder {
  opacity: 0.25;
  font-size: 18px;
  line-height: 22px;
}

.search_box img {
  position: absolute;
  top: 34px;
  right: 20px;
}

.dropdowns_container {
  display: flex;
}

.dropdown_search {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  height: 69px;
  width: 170px;
  border-radius: 5px;
}

.dropdown_search input {
  background: none;
  width: 160px;
  padding: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.bg_blue {
  background: var(--blue);
}

.bg_green {
  background: var(--green);
}

.bg_red {
  background: var(--red);
}

.dropdown_search img {
  position: absolute;
  right: 10px;
  top: 30px;
}
